<h1>Time Sets</h1>

<div class = "time-set">
	<%= form_for @time_set, remote: true do |f| %>
		<div class = "field">
			<%= collection_select(:time_set, :affair_id, Affair.all, :id, :name, {prompt: "chose a category"}, {:class => "category-select cs-select cs-skin-border"}) %>
		</div><!--/field-->

		<div class = "timer">
			00:00:00
		</div><!--/timer-->

		<div class = "control-panel">
			<button class = "start active">
				<i class = "fa fa-play"></i>
			</button><!--/start-->
			<button class = "pause">
				<i class = "fa fa-pause"></i>
			</button><!--/pause-->
			<button class = "finish">
				<i class = "fa fa-stop"></i>
			</button><!--/finish-->
			<button class = "cancel">
				cancel
			</button><!--/button-->
		</div><!--/control-panel-->
	<% end %>

</div>

<script>
  (function() {
    [].slice.call( document.querySelectorAll( '.time-set select.cs-select' ) ).forEach( function(el) {  
      new SelectFx(el);
    } );
  })();
</script>