@import "palette";

body{
	// default color
	background: $cold-blue;
	color: $cold-light;
}

form{
	input[type="submit"], button, .button{
		background: $cold-light;
		color: $cold-blue;
	}
}

#new_time_set{
	.timer{
		color: $cold-light;
		background: $cold-blue-darker1;
	}
	.control-panel{
		input[type="submit"], button, .button{
			background: $cold-blue-darker1;
			color: $cold-light;
		}
		.active{
			background: $cold-light;
			color: $cold-blue;
		}
	}
	
}