@import "palette";
@import "function";

body{
	// default color
	background: $cold-blue;
	color: $cold-light;
}

form{
	input[type="submit"], button, .button{
		background: $cold-light;
		color: $cold-blue;
	}
}

#new_time_set{
	.timer, input[type="text"]{
		color: $cold-light;
		background: $cold-blue-darker1;
	}
	.control-panel{
		input[type="submit"], button, .button{
			background: $cold-blue-darker1;
			color: $cold-light;
		}
		.active{
			background: $cold-light;
			color: $cold-blue;
		}
	}
	
}

// table style
.table{
	background: $cold-blue-darker1;
	.heading{
		color: $blue;
		.cell{
			border-bottom: em(3) solid $blue;
		}
	}
	span{
		background: $blue;
		color: $cold-blue-darker1;
	}
	button{
		color: $blue;
		background: none;
	}
	button.active-filter{
		background-image: -moz-linear-gradient(0% 90% 270deg, $cold-blue-darker1, #000, $blue 0%);
	}
	.row{
		.cell:first-child{
			color: $green;
		}
	}
	.tfoot .cell{
		border-top: em(3) solid $green;
	}
}