@import "palette";

body{
	// default color
	background: $cold-blue;
	color: $cold-light;
}

form{
	input[type="submit"], button, .button{
		background: $cold-light;
		color: $cold-blue;
	}
}

#new_time_set{
	.timer, input[type="text"]{
		color: $cold-light;
		background: $cold-blue-darker1;
	}
	.control-panel{
		input[type="submit"], button, .button{
			background: $cold-blue-darker1;
			color: $cold-light;
		}
		.active{
			background: $cold-light;
			color: $cold-blue;
		}
	}
	
}

// table style
.table{
	background: $cold-blue-darker1;
	.heading{
		color: $blue;
	}
	.row{
		.cell:first-child{
			color: $green;
		}
	}
}