@import "function";

$indent-in-form: em(10);

.field{
	margin-bottom: $indent-in-form;
}

button, .button, input {
  text-decoration: none;
  padding: 0.7em;   
  text-shadow: -em(2) em(2) 0 rgba(black, 0.2); 
  font-weight: bold;
  box-shadow: none;
  cursor: pointer;
  border-radius: em(5);
  border: 0px solid #000;
}

input:not([type=submit]):not([type=file]):not([type=radio]){
  border: em(3) solid #1b967e; 
  padding: em(10);
  //background: rgba(255,255,255,0.5);
  margin: 0 0 em(20) 0;
}

input[type="submit"]{
	-webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}