@import "function";
@import "font-awesome-sprockets";
@import "font-awesome";

$height-screen: 1000px;

.grid-main{
	margin: 0 auto;
	width: $height-screen; 
}


h1{
	font-family: 'roseregular';
}

.time-set{
	width: 50%;
	float: left;
	.pseudo{	
		padding-right: em(10);
	}
}
#new_time_set{
	.timer, input[type="text"]{
		padding: 1em;
		border-radius: em(5);
		margin-bottom: em(10);
	}
	input[type="text"]{
		width: 100%;
		max-width: 500px;
		display: block;
	}
	#category-select .cs-select{
		z-index: 102;
	}
	.timer{
		font-family: 'digital_dreamregular';
	}
	.control-panel
	{
		.button, button, input[type="submit"]{
			margin-right: em(7);
		}
		.control-timer{
			float: left;
		}
		.control-record{
			float: right;
			.button:last-child ,button:last-child{
				margin-right: 0;
			}
		}
	}
}

// table style
.table{
	h2{
		margin-left: 0.5em;
	}
	.cell{
		padding: 0.8em;
	}
	.row{
		.cell:first-child{

		}
	}
}

.time-sets{
	width: 50%;
}