@import "function";
@import "font-awesome-sprockets";
@import "font-awesome";

$height-screen: 1000px;

.grid-main{
	margin: 0 auto;
	width: $height-screen; 
}


h1{
	font-family: 'roseregular';
}

#new_time_set{
	width: 50%;
	.timer, input[type="text"]{
		padding: 1em;
		border-radius: em(5);
		margin-bottom: em(10);
	}
	input[type="text"]{
		width: 100%;
		max-width: 500px;
		display: block;
	}
	.timer{
		font-family: 'digital_dreamregular';
	}
	.control-panel
	{
		.button, button, input[type="submit"]{
			margin-right: em(7);
		}
		.control-timer{
			float: left;
		}
		.control-record{
			float: right;
			.button:last-child ,button:last-child{
				margin-right: 0;
			}
		}
	}
}