// Cold theme
$cold-blue: rgb(33, 34, 39);
$cold-blue-lighter1: rgb(68, 70, 80);
$cold-blue-lighter2: rgb(98, 101, 114);
$cold-blue-darker1: rgb(20, 22, 32);
$cold-blue-darker2: rgb(14, 16, 30);

$cold-light: rgb(233, 199, 112);




$dark-green: #00372d;

$light-green: #1B967E;
//$light-green: #7CFC00;
$light-green-strong: rgb(92, 188, 169);
$green: #097d66;

$light-blue: #16C2FB;
$dark-blue: #007095;
$middle-blue: #009ACD;
$blue: rgb(39, 86, 155);
//$blue: #0099cc;

$middle-green: #196e76;
$text-color: #4b4b4b;

$red: rgb(223, 40, 65);
$dark-red: rgb(186, 14, 38);

$hurma: rgb(4, 189, 251);

$light-pink: rgb(239, 80, 102);
$light2-pink: rgb(246, 121, 138);


// var 2
$light-yellow: rgb(251, 189, 84);
$light2-yellow: rgb(255, 207, 125);
$yellow: rgb(235, 164, 42);
$dark-yellow: rgb(195, 128, 14);
$dark2-yellow: rgb(155, 98, 0);

$light-grey: rgb(249, 251, 252);
$gray: #333;

$blue-new: #3594cb;
$light-blue-new: #6cbfee;

// var 2
$light2-red: #f1c1bd;
$light-red: #eb7e7f;

//$light-green-strong: rgb(207, 246, 237);
//$light-green: #6bccb4;
//$green: rgb(69, 175, 148);

/*$light2-yellow: rgb(255, 240, 214); 
$light-yellow: rgb(255, 223, 172);
$yellow: rgb(255, 196, 100);*/
$new-light-yellow: #fffed8;

$light-orange: #f7cda9;
$orange: rgb(255, 158, 100);